// Project Variables
//--------------
/* Colors */
$primaryColor: #833adf;
$secondaryColor: #f50057;
$veryLightGrey: #ced3d3;
$bodyLight: #9b9b9b;
$bodyDark: grey;

/* Font Families */
$fontFamilyHeaders: "Oswald";
$fontFamilyAll: "Roboto";

/* Font Size (text-heavy) */
$fontSizeBodyText: 1rem; // body, text input, etc.
$fontSizeH1Text: 2rem; // main title
$fontSizeH2Text: 1.5rem; // section titles
$fontSizeH3Text: 1.125rem; // subheadings
$fontSizeH4Text: 0.75rem; // labels, captions, etc.

/* Font Size (interaction-heavy) */
$fontSizeBodyInteract: 1.25rem; // body, text input, etc.
$fontSizeH1Interact: 5rem; // main title
$fontSizeH2Interact: 2.5rem; // section titles
$fontSizeH3Interact: 1.5rem; // subheadings
$fontSizeH4Interact: 0.75rem; // labels, captions, etc.

/* Media Queries */
$mobile: 600px;
$tablet: 960px;
$desktop: 1280px;

// Project Mixins
//--------------
/* Headers */
@mixin h1 {
  font-family: $fontFamilyHeaders;
  font-size: $fontSizeH1Interact;
  line-height: $fontSizeH1Interact;
  text-align: center;
  @media (max-width: $mobile) {
    font-size: $fontSizeBodyInteract * 2.25;
    line-height: $fontSizeBodyInteract * 2.25;
  }
}
@mixin h2 {
  font-family: $fontFamilyHeaders;
  font-size: $fontSizeH2Interact;
  line-height: $fontSizeH1Interact;
  color: $bodyDark;
  @media (max-width: $mobile) {
    font-size: $fontSizeBodyInteract * 1.5;
    line-height: $fontSizeBodyInteract * 2;
  }
}
@mixin h3 {
  font-family: $fontFamilyHeaders;
  font-size: $fontSizeH3Interact;
  line-height: $fontSizeH1Interact;
  @media (max-width: $mobile) {
    font-size: $fontSizeBodyInteract * 1.5;
    line-height: $fontSizeBodyInteract * 1.5;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@mixin h4 {
  font-family: $fontFamilyHeaders;
  font-size: $fontSizeH4Interact;
  line-height: $fontSizeH1Interact;
  @media (max-width: $mobile) {
    font-size: $fontSizeH4Interact;
    line-height: $fontSizeH4Interact;
  }
}
@mixin subheading {
  font-family: $fontFamilyAll;
  font-size: $fontSizeH3Interact;
  line-height: $fontSizeH3Interact;
  @media (max-width: $mobile) {
    font-size: $fontSizeBodyInteract;
    line-height: $fontSizeBodyInteract * 1.5;
  }
}
@mixin body {
  font-family: $fontFamilyAll;
  font-size: $fontSizeBodyInteract;
  line-height: $fontSizeBodyInteract * 2;
  color: $bodyLight;
  @media (max-width: $mobile) {
    font-size: $fontSizeBodyInteract;
    line-height: $fontSizeBodyInteract * 2;
  }
}

// Main CSS
//--------------
/* HTML */
html {
  body {
    @include body;
    background-color: $veryLightGrey;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Site container */
  #root {
    min-width: 85%;
    max-width: 768px;
    margin: 0 auto;
  }

  /* Headers */
  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  .subheading {
    @include subheading;
    color: $bodyLight;
  }

  /* Router */
  .switch-wrapper {
    position: relative;
  }

  /* Placeholders */
  .placeholder {
    height: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
  }

  /* All Sections CSS */
  section {
    margin-bottom: 1rem;
    background: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 35vh;

    h2 {
      text-align: center;
    }
  }
}

// Navbar CSS
//--------------
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: -1000;
    padding: 2rem 3rem;
    margin-top: -500px;
    transition: margin-top 0.5s ease;

    h2 {
      color: grey;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }

    h3 {
      color: $primaryColor;
      font-size: $fontSizeH3Interact / 1.5;
      margin: 0;
      line-height: 1rem;
      padding: 0.5rem;
      padding-bottom: 1rem;
    }

    /* Style links inside the columns */
    a {
      float: none;
      color: $bodyLight;
      font-size: $fontSizeBodyInteract / 1.5;
      padding: 0 0.5rem;
      margin-right: 0.5rem;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    /* Add a background color on hover */
    a:hover {
      // background-color: rgb(243, 243, 243);
      color: black;
    }

    .column1,
    .column2,
    .column3 {
      border-right: 1px solid lightgrey;
    }
  }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 0px;
}

.dropdown:hover .dropbtn {
  border-bottom: 2px solid red;
  background-color: white;
  opacity: 1;
}

.MuiButton-endIcon {
  transition: transform 0.5s ease;
}

.dropdown:hover .dropbtn .MuiButton-endIcon {
  transform: rotate(180deg);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

// Hero Section CSS
//--------------
.hero {
  padding: 0;
  margin-top: 0;
  background-image: url("https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;

  .hero-content {
    position: absolute;
    z-index: 1;
    text-align: center;
    text-shadow: 3px 3px 6px rgb(82, 82, 82);

    h1 {
      @include h1;
      font-weight: 400;
      color: white;
    }

    h3 {
      @include h3;
      font-family: $fontFamilyAll;
      font-size: $fontSizeH3Interact * 1.25;
      line-height: $fontSizeH3Interact * 1.25;
      font-weight: 400;
      color: white;
    }
  }

  .overlay {
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.25;
  }

  #myVideo {
    z-index: 1000;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

// Logo Section CSS
//--------------
#companyLogos {
  .logo {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
  }
  img {
    height: auto;
    width: 100%;
  }
}

// Features Section CSS
//--------------
#features {
  img {
    height: auto;
    width: 100%;
  }

  .slideTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    margin: 0.5rem;
  }
}
